@import "../../styles/css-vars.scss";

.imageContainer {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 90px;
  padding: 15px;
  background-color: $titanWhite;
  box-sizing: border-box;
    &:hover{
      background-color: $titanWhite;
    }
}
