@import "../../styles/css-vars.scss";

.navMenu{
    height: calc(100% - 90px);
    width: 200px;
    background-color: $titanWhite;
    border-right: solid 1px var(--melrose);
    padding: 0;

    & .bottomLink{
        margin-top: 100px;
    }

    & .navMenu:first-child{
       padding-top: 72px;
    }

    & .navLink{
        text-decoration: none;
        text-align: center;
        box-sizing: border-box;
        padding: 15px;
        line-height: 25px;
        font-family: Roboto;
        font-weight: bold;
        font-size: 20px;
    }

    & .twoLines{
        padding: 0px 15px 0px 15px;
        height: 55px;
    }

    & .activeLink{
      background-color: var(--melrose);
      color:white;
  }
}
