@import "../../styles/css-vars.scss";

.navMenu{
    height: 900px;
    width: 200px;
    background-color: $leftMenuBackgroundColor;
    border: 1px solid $borderColor;
    border-width: 0px 1px 1px 1px;

    ul{
        padding: 0;
    }

    li{
        list-style-type: none;
        height: 55px;
        text-align: center;
        margin-top: 0px;
    }

    li.bottomLink{
        margin-top: 100px;
    }
    
    ul:first-child{
       padding-top: 72px;
    }

    .navLink{
        text-decoration: none; 
        text-align: center;
        box-sizing: border-box;
        padding: 15px;
        line-height: 25px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
    }

    .twoLines{
        padding:0px 15px 0px 15px;
    }

    a,
    a:visited{
        display: inline-block;
        height: 100%;
        width: 100%;
        color:black;
    }

    a:hover{
        background-color: $borderColor;
        color:white;
    }
}
