@import "../../styles/css-vars.scss";

  .pageLayout{
    display: flex;
    width: 100vw;
    background: linear-gradient(to bottom, #CDCFFF, #FFFFFF);
    padding-top: 120px;
  }

  .registrationWindow {
    box-sizing: border-box;
    margin: auto;
    width: 725px;
    padding: 40px 0px;
    background-color: var(--magnolia);
    border: 2px solid var(--cornflowerBlue);
  }

  .greetingText{
    width: 423px;
    margin: auto auto 13px auto;
    font-family: Roboto;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
  }

  .pleaText{
    width: 412px;
    margin: auto auto 45px auto;
    font-family: Roboto;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
  }

  .labelText{
    //height: inherit;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 195px;
    margin-bottom: 21px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
  }

  // .afterTest::after{
  //   content: "?";
  //   width: 20px;
  //   height: 20px;
  //   text-align: center;
  //   //padding: 2px;
  //   border: 2px var(--cornflowerBlue) solid;
  //   border-radius: 50%;
  //   //top: -2px;
  //   right: -30px;
  //   position: absolute;
  // }

  //Оставлю это как пример мыслей(
  // .afterTest:hover::after{
  //   content: "Ебать я кроссаФФчеГ";
  //   border: 2px red solid;
  // }
  // .hint:hover::after{
  //   display: block;
  //   content: "Ебать я красавчик!!!";
  //   border: red;
  // }
  .questionField{
    position: absolute;
    right: -25px;
    height: 18px;
    width: 18px;
  }

  .questionTextField{
    position: absolute;
    right: -230px;
    top: -7px;
    height: 200px;
    width: 200px;
    vertical-align: top;
  }

  .questionText{
    text-align: start;
    word-wrap: break-word;
    border: black 1px solid;
  }

  .twoLineLabel{
    display: inline-block;
    max-width: 155px;
    text-align: end;
  }

  .requiredField{
    position: relative;
  }

 .requiredField::after{
    content: "*";
    top: -2px;
    right: -10px;
    position: absolute;
  }

  .inputField{
    padding: 0;
    height: 40px;
    width: 280px;
    min-width: 280px;
    margin: 0;
    margin-left: 13px;
    border: 1px solid var(--cornflowerBlue);
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
  }

  .errorMessage{
    font-family: Roboto;
    font-weight: 700;
    color: #FF4F4F;
    width: 280px;
    word-wrap: break-word;
    margin: 10px auto 20px 245px;
  }

  .loadingMessage{
    font-family: Roboto;
    font-size:larger;
    font-weight: bold;
    margin: 10px auto 20px auto;
    width: 100px;
  }

  .enterRegistrationField{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;

    .RomaYaNeHochuPosicionirovatbEtiKomponentbl4epe3Span{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    & .enterButton{
        width: 170px;
        height: 36px;
        margin-right: 30px;
        padding: 0px;
        border:none;
        border-radius: 5px;
        background: #979BFF;
        font-family: Roboto;
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        color: #FFFBFB;
    }

    & .enterButton:disabled{
      background: gray;
    }

    & .enterWithPassLink{
        width: 171px;
        height: 36px;
        border-radius: 5px;
        font-family: Roboto;
        font-weight: 700;
        font-size: 23px;
        line-height: 38px;
        text-align: center;
    }

    & .reg{
        height: 38px;
        width: 370px;
        margin: 33px 0px auto 0px;
        border-radius: 5px;
        font-family: Roboto;
        font-weight: bold;
        font-size: 23px;
        line-height: 38px;
        text-align: center;
    }
  }

