@import "../../styles/css-vars.scss";

  .pageLayout{
    display: flex;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #CDCFFF, #FFFFFF);

    .registrationWindow {
      box-sizing: border-box;
      width: 725px;
      padding: 40px 0px;
      background-color: var(--magnolia);
      border: 2px solid var(--cornflowerBlue);
      margin: auto;
    }

    .greetingText{
      width: 423px;
      margin: auto auto 13px auto;
      font-family: Roboto;
      font-weight: bold;
      font-size: 30px;
      line-height: 35px;
      text-align: center;
    }

    .pleaText{
      width: 412px;
      margin: auto auto 45px auto;
      font-family: Roboto;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
    }

    .wrapInput{
      width: 467px;
      height: 40px;
      display: flex;
      margin: 0px 196px 35px auto;
      text-align: center;
      //justify-content: space-between;
    }

    .labelText{
      height: inherit;
      width: inherit;
      //margin: auto 0 auto 0;
      font-family: Roboto;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      text-align: end;
    }

    //это костыль=(///////////
    .twoLineLabel{          //
      display: flex;        //
      justify-content: space-between;
      vertical-align: auto;
    }                       //
    //это костыль=(///////////

    .inputField{
      padding: 0;
      height: 40px;
      width: 280px;
      margin: 0;
      margin-left: 13px;
      border: 1px solid var(--cornflowerBlue);
      font-family: Roboto;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
    }

    .enterRegistrationField{
      //позиционирование подогнано хреного( разберем на созвоне?
      margin-left: 242px;
      width: 286px;
      text-align: end;
        & .enterButton{
          width: 110px;
          height: 38px;
          padding: 0px;
          border:none;
          border-radius: 5px;
          background: #979BFF;
          font-family: Roboto;
          font-weight: bold;
          font-size: 20px;
          line-height: 23px;
          color: #FFFBFB;
        }

        & .registration{
          width: 140px;
          height: 38px;
          margin: auto 0px auto 0px;
          border-radius: 5px;
          font-family: Roboto;
          font-weight: bold;
          font-size: 23px;
          line-height: 38px;
          text-align: center;
        }
      }

     .reg{
      height: 38px;
      width: auto;
      margin: auto 0px auto 242px;
      font-family: Roboto;
      font-weight: bold;
      font-size: 23px;
      line-height: 38px;
    }
  }

