@import "../../styles/css-vars.scss";

  .pageLayout{
    display: flex;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #CDCFFF, #FFFFFF);

    .registrationWindow {
      box-sizing: border-box;
      width: 725px;
      padding: 40px 0px;
      background-color: var(--magnolia);
      border: 2px solid var(--cornflowerBlue);
      margin: auto;
    }

    .greetingText{
      width: 423px;
      margin: auto auto 13px auto;
      font-family: Roboto;
      font-weight: bold;
      font-size: 30px;
      line-height: 35px;
      text-align: center;
    }

    .pleaText{
      width: 412px;
      margin: auto auto 45px auto;
      font-family: Roboto;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
    }

    .wrapInput{
      width: 467px;
      height: 40px;
      display: flex;
      margin: 0px 196px 35px auto;
      text-align: center;
      //justify-content: space-between;
    }

    .labelText{
      height: inherit;
      width: inherit;
      position: relative;
      //margin: auto 0 auto 0;
      font-family: Roboto;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      text-align: end;
    }

    //это костыль=(///////////
    .twoLineLabel{          //
      display: flex;        //
      justify-content: space-between;
      vertical-align: auto;
      //4word-wrap: break-word;
    }                       //
    //это костыль=(///////////

   .requiredField::after{
      content: "*";
      position: absolute;
    }

    .requiredField.twoLineLabel::after{
      top: -10px;
      right: 285px;
      //и это мне не нравиццо =(
    }

    .inputField{
      padding: 0;
      height: 40px;
      width: 280px;
      min-width: 280px;
      margin: 0;
      margin-left: 13px;
      border: 1px solid var(--cornflowerBlue);
      font-family: Roboto;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
    }

    .enterRegistrationField{
      display: flex;
      margin: auto;
      flex-wrap: wrap;
      justify-content: center;

      & .enterButton{
          width: 170px;
          height: 36px;
          margin-right: 30px;
          padding: 0px;
          border:none;
          border-radius: 5px;
          background: #979BFF;
          font-family: Roboto;
          font-weight: bold;
          font-size: 20px;
          line-height: 23px;
          color: #FFFBFB;
      }

      & .enterWithPassLink{
          width: 171px;
          height: 36px;
          border-radius: 5px;
          font-family: Roboto;
          font-weight: 700;
          font-size: 23px;
          line-height: 38px;
          text-align: center;
      }

      & .reg{
          height: 38px;
          width: 370px;
          margin: 33px 0px auto 0px;
          border-radius: 5px;
          font-family: Roboto;
          font-weight: bold;
          font-size: 23px;
          line-height: 38px;
          text-align: center;
      }
    }
  }

