@import "../../styles/css-vars.scss";

  .pageLayout{
    display: flex;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #CDCFFF, #FFFFFF);

    .authWindow {
      box-sizing: border-box;
      width: 725px;
      padding: 40px 0px;
      background-color: var(--magnolia);
      border: 2px solid var(--cornflowerBlue);
      margin: auto;
    }

    .greetingText{
      width: 423px;
      margin: auto auto 40px auto;
      font-family: Roboto;
      font-weight: bold;
      line-height: 35px;
      text-align: center;
    }

    .wrapInput{
      width: 378px;
      height: 40px;
      display: flex;
      margin: 0px 0px 35px 150px;
      text-align: center;
      justify-content: space-between;
    }

    .inputField{
      width: 280px;
      border: 1px solid var(--cornflowerBlue);
      font-family: Roboto;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
    }

    .labelText{
      font-family: Roboto;
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      margin: auto 0 auto 0;
    }

    .enterRegistrationField{
      margin-left: 242px;
      width: 286px;
      text-align: end;
        & .enterButton{
          width: 110px;
          height: 38px;
          padding: 0px;
          border:none;
          border-radius: 5px;
          background: #979BFF;
          font-family: Roboto;
          font-weight: bold;
          font-size: 20px;
          line-height: 23px;
          color: #FFFBFB;
        }

        & .registration{
          width: 140px;
          height: 38px;
          margin: auto 0px auto 0px;
          border-radius: 5px;
          font-family: Roboto;
          font-weight: bold;
          font-size: 23px;
          line-height: 38px;
          text-align: center;
        }
      }

      .errorMessage{
        font-family: Roboto;
        font-weight: 700;
        color: #FF4F4F;
        width: 280px;
        word-wrap: break-word;
        margin: 10px auto 20px 245px;
      }

     .reg{
      height: 38px;
      width: auto;
      margin: auto 0px auto 242px;
      font-family: Roboto;
      font-weight: bold;
      font-size: 23px;
      line-height: 38px;
    }
  }

